* {
    margin:0;
    padding:0;
    box-sizing: border-box; /* All included */
}

html {
    font-size: 7px;
}

/* rem = html ye verilen font buyuklugune gore oransal font buyuklugu ayarlamak */

body{
    font-family: 'Poppins', sans-serif;

    font-size:1.6rem ; /* bunu diyerek body icin 16 px font kullanmis olduk */
    line-height: 1.5;
    text-align: center;
    color: #fff;
    background-color: #333;
}

a{
    text-decoration: none;
}

p{
    padding: 1.6rem 0;
}

img {
    width: 100%;
    height: auto;
}

.clear-fix::after{
    content :'';
    display: block;
    clear: both;


}

/*header*/
header {
    height: 45rem; /*450px*/
    background-color: red;
}

header .bgImage {
    background-image:url(assets/ss.png);
    background-size: cover;
    background-position: center;
    height: 45rem;
    width: 100%;

}

.btn{

    display:inline-block;
    background: #333;
    color: #fff;
    /* border: 1px solid #666; */
    padding:1.6rem 3.2rem;
    margin: .5rem 0;
    transition: all 0.3sn;


}

.btn:hover{
    color: rgb(222, 202, 136);

}

#section-a {
    padding:3rem ; /* her koseden 30px padding verdim*/

}

#section-a ul{
     list-style: none;
}

#section-a li{
    background: #fff;
    color: #333;
    margin-bottom: 2rem;
}

.col-content {
    padding: 1.5rem;
}


#section-b {
    background-color: #eaeaea;
    color: #333;
    padding: 5rem;
}

#section-c .box{
    padding: 5rem;
}

#section-c .box:first-child {
    background-color: #2690d4;

}

footer {
    padding: 4rem;
    background: #000;
}

footer a {
    color:#2690d4;
}

@media screen and (min-width:800px){

    #section-a li {
        width:28%;
        margin:1%;
        display: inline-block;
    }

    .box {
        width: 50%;
        float:left;
    }

    html {
        font-size: 9px;
    }
}