/*============ IMPORT =============*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

/*============ COMMON =============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* All included */
}

html {
    scroll-behavior: smooth;
}

/*! PSEUDO CLASS !*/

:root {
    /* notes 5 */
    font-size: 13px;

    /*========= MAIN THEME COLORS ============*/
    /* notes 6 */
    --first-color: #0e2431;
    --second-color: #5a8188;
    --third-color: #5c6060;
    /* ebd478 sari
    #487a6e ysil
    77a6b6 mavili*/
    /*============= HOVER COLORS (uzerine gelmek) ============*/

    --hover-color: #96586a;

    /*============= BACKGROUND COLORS ============*/

    --body-bg-color: #d8dde0;
    --body-bg-color: #d8dde0;
    --modal-bg-color: #d8dde0;
    --bg-transparent-color: rgba(0, 0, 0, 0.1);
    --transparent-color-01: rgba(0, 0, 0, 0.1);
    --transparent-color-02: rgba(106, 89, 209, 0.1);
    --line-color: #d7d7d7;

    /*============= COLOR FILTER ============*/

    --color-filter: invert(1);

    /*============= BOX SHADOW ============*/

    --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

    /*============= FONT SIZE ============*/

    --small-font-size: 0.9em;
    --normal-font-size: 1em;

    /*============= SCROLL BAR COLORS ============*/

    --scroll-bar-color: #c5cadf;
    --scroll-thumb-color: #77a6b6;
    --scroll-thumb-hover-color: #77a6b6;
}

body {
    font-family: "Poppins", sans-serif;
    /* font-size:1.6rem ; bunu diyerek body icin 16 px font kullanmis olduk */
    color: var(--first-color);
    background: var(--body-bg-color);
    margin: 2rem 0 0 0;
    transition: 0.5s ease;
    /* line-height: 1.5; */
    /* text-align: center; */
}

/*============= X ============*/

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    padding: 1.6rem 0;
}

img {
    width: 100%;
    height: auto;
}

.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}

.fa-medium {
    z-index: 999999;
    padding: 16px;
    position: fixed;
    right: 0;
    bottom: 215px;
    width: 45px;
    height: 45px;
    background: var(--third-color);
    color: #fff;
    font-size: var(--small-font-size);
    border-radius: 3px;
    cursor: pointer;
    opacity: 100%;
    transition: 0.5s ease;
    right: 20px;
    pointer-events: all;
}

.fa-github {
    z-index: 999999;
    padding: 16px;
    position: fixed;
    right: 0;
    bottom: 150px;
    width: 45px;
    height: 45px;
    background: var(--third-color);
    color: #fff;
    font-size: var(--small-font-size);
    border-radius: 3px;
    cursor: pointer;
    opacity: 100%;
    transition: 0.5s ease;
    right: 20px;
    pointer-events: all;
}
.fa-linkedin-in {
    z-index: 999999;
    padding: 16px;
    position: fixed;
    right: 0;
    bottom: 85px;
    width: 45px;
    height: 45px;
    background: var(--third-color);
    color: #fff;
    font-size: var(--small-font-size);
    border-radius: 3px;
    cursor: pointer;
    opacity: 100%;
    transition: 0.5s ease;
    right: 20px;
    pointer-events: all;
}

.scrollToTop-btn {
    z-index: 999999;
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 45px;
    height: 45px;
    background: var(--second-color);
    color: #fff;
    font-size: var(--small-font-size);
    border-radius: 3px;
    cursor: pointer;
    opacity: 0%;
    transition: 0.5s ease;
}

.scrollToTop-btn.active {
    right: 20px;
    pointer-events: all;
    opacity: 1;
}

/*============= SCROLL BAR  ============*/

/* ::-webkit-scrollbar{
    width:10px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb{
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--scroll-thumb-hover-color);
} */

/*============= HEADER ============*/

header {
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    transition: 0.6s ease;
}

header.sticky {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
}

header.sticky .nav-bar {
    height: calc(2.5rem + 1rem);
}
/*============= HEADER NAVIGATION BAR ============*/

.nav-bar {
    position: relative;
    height: calc(4rem + 1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: 0.6s ease;
}
.nav-bar .logo {
    color: var(--first-color);
    font-size: 1.3em;
    font-weight: 600;
}

.nav-items a {
    color: var(--third-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.nav-items a:not(:last-child) {
    /*pseudo selector :not(:last-child):*/
    margin-right: 50px;
}

.nav-items a:hover {
    color: var(--second-color);
}

.nav-menu-btn {
    display: none;
}
/*============= HOME ============*/
.home {
    position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    flex-direction: column;
}

.home .home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* .media-icons {
    display: flex;
    /* flex-direction: column; */
/* margin-right: 140px; */

.media-icons a {
    color: var(--second-color);
    font-size: 1.5em;
    margin: 10px 0;
    padding: 40px;
}

.media-icons a:hover {
    color: var(--hover-color);
}

.home-container .info h3 {
    color: var(--third-color);
    font-feature-settings: 1.3em;
    font-weight: 600;
    line-height: 40px;
}

.home-container .info p {
    margin: 0px; /*! ortalamak icin 9px eklemem gerekti, ama bu sefer tel ekraninda bozuk gozukuyordu !*/
    color: var(--third-color);
    font-size: var(--normal-font-size);
    max-width: 242px;
    text-align: center;
}

.btn {
    background: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 2px 105px;
    /* padding: 20px 152px; | bu eski versiyondu, bunu degistirdim.*/
    letter-spacing: 1px;
    border-radius: 10px;
}
.btn:hover {
    background: var(--hover-color);
}

.home-container .home-img {
    position: relative;
}

.home-container .home-img img {
    width: 90%;
    transform: translate(0, 0);
}

.home .scroll-down {
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    margin-top: 20px;
}

/* .home .scroll-down i{
    color:var(--second-color);
    font-size: 1.2em;
    animation: arrow-down ease 2s infinite;
}

@keyframes arrow-down {
    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(10px);
    }

} */

/*============= STYLES FOR ALL SECTIONS ============*/

.flex-center {
    /* notes 7 */

    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    position: relative;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem 2rem;
}

.sub-section {
    position: relative;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;
}

.section-title-01 {
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, var(--first-color) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.1;
}

.section-title-02 {
    font-size: 2.5em;
    font-weight: 700;
    transform: translateY(-80px);
}

/* .section-title-02:before{
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    right: 0;
    bottom: 0;
    background-color: var(--second-color);
} */

.container {
    position: relative;
    flex-direction: column;
}
/*============= ABOUT SECTION ============*/

.about .container .content {
    /* column-gap: 40px; */
    width: 100%;
}

.about-img {
    position: relative;
}

.about-img img {
    max-width: 50%;
    min-width: 300px;
    border-radius: 10px;
}

.about-info .description {
    max-width: 1050px;
}

.about-info .description h3 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-info .description h4 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-info .description h4 span {
    color: var(--second-color);
}

.about-info .description p {
    color: var(--third-color);
    font-size: var(--normal-font-size);
    margin-bottom: 15px;
    padding-bottom: 25px;
}

.about-info .professional-list {
    display: flex;
    column-gap: 30px;
}

.about-info .professional-list .list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 20px;
}

.about-info .professional-list .list-item h3 {
    font-size: 2.5em;
    font-weight: 700;
}

.about-info .professional-list .list-item span {
    color: var(--third-color);
    font-size: var(--small-font-size);
}

/*============= SKILLS SECTION ============*/

.skills .container .content {
    width: 100%;
}

.skills-description {
    max-width: 700px;
    margin-bottom: 50px;
}

.skills-description p {
    color: var(--third-color);
}

.skills-description h3 {
    font-size: 2em;
    margin-bottom: 5px;
}

.skills-info {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;
}

.skills-info h4 {
    margin-bottom: 20px;
}

.skills-info h4 label {
    background: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 400;
    padding: 5px;
    border-radius: 5px;
}

.education-all {
    margin-bottom: 80px;
}

.skills-list .item {
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    border-bottom: 3px solid var(--second-color);
    padding: 20px;
    margin-top: 15px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.skills-list .item .year {
    font-size: var(--small-font-size);
    margin-bottom: 5px;
}

.skills-list .item p {
    color: var(--third-color);
    font-size: var(--small-font-size);
}

.skills-list .item p span {
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.bar {
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-size: var(--small-font-size);
}

.bar .info span {
    font-weight: 500;
}

.bar .line {
    position: relative;
    width: 100%;
    height: 7px;
    background: #c5cadf;
    border-radius: 2px;
}

.bar .line::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--second-color);
    border-radius: 2px;
}

.bar .html:before {
    width: 95%;
}

.bar .css:before {
    width: 95%;
}

.bar .javascript:before {
    width: 70%;
}

.bar .nodejs:before {
    width: 50%;
}

.bar .postgres:before {
    width: 50%;
}

.bar .illustrator:before {
    width: 95%;
}

.bar .photoshop:before {
    width: 85%;
}

.bar .indesign:before {
    width: 80%;
}

.bar .lightroom:before {
    width: 80%;
}

.bar .corel:before {
    width: 80%;
}

.bar .zbrush:before {
    width: 75%;
}
.experience-card {
    background: var(--card-bg-color);
    border-bottom: 3px solid var(--second-color);
    padding: 35px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    transition: 0.3s ease;
}

.experience-card .upper {
    line-height: 30px;
}

.experience-card h3 {
    font-size: 1.3em;
    font-weight: 700;
}

.experience-card h5 {
    font-size: var(--small-font-size);
    font-weight: 500;
    font-style: italic;
}

.experience-card p {
    color: var(--third-color);
}

.experience-card .hr {
    width: 100%;
    height: 2px;
    background: var(--line-color);
    margin: 10px 0 22px;
}

.skills-list .item:hover,
.bar:hover,
.experience-card:hover {
    transform: scale(1.03);
}

/*============= PORTFOLIO SECTION ============*/

.portfolio .container .content {
    width: 100%;
}

.portfolio-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* ogren */
    max-width: 100%;
    gap: 35px; /* ogren */
    margin: 0 auto;
}

.portfolio-list .img-card {
    position: relative;
    max-width: 100%;
    height: 360px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    cursor: pointer;
}

.portfolio-list .img-card .overlay {
    transition: 1s ease;
}

.portfolio-list .img-card:hover .overlay {
    z-index: 777;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.portfolio-list .img-card .info {
    z-index: 777;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    color: #fff;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.5s ease;
}

.portfolio-list .img-card:hover .info {
    transform: translateY(0);
    opacity: 1;
}

.portfolio-list .img-card .info h3 {
    font-size: 1.5em;
}

.portfolio-list .img-card .info span {
    font-size: 1.2em;
}

.portfolio-list .img-card .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-model {
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--transparent-color-01);
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
}

.portfolio-model.active {
    visibility: visible;
    opacity: 1;
}
.portfolio-model-body {
    position: relative;
    background: var(--modal-bg-color);
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transform: translateY(-50px);
    transition: 0.5s ease;
}

/* .portfolio-model.active .portfolio-model-body { */
/* transform: translateY(0); */
/* } */

.portfolio-close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 20px;
    cursor: pointer;
}

.portfolio-model-body h3 {
    font-size: 1.5em;
}

.portfolio-model-body img {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}

/*============= ILLUSTRATION ============*/

/* .illustration .container .content{
    width: 100%;

} */

.drawing {
    position: relative;
    height: 500px;
    width: 1150px;
    display: flex;
    align-items: center;
}

.swiper {
    max-width: 1000px;
    position: relative;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.swiper-slide {
}

.card::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 100%;
    /* background: #ffffff; */
    border-radius: 90%;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 60px 60px 60px 60px; */
    position: relative;
    z-index: 0;
}

section .card .image {
    height: 320px;
    width: 320px;
    border-radius: 90%;
    padding: 15px;
}

section .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
    border: 3px solid #fff;
}

.swiper-pagination {
    position: absolute;
}

.swiper-pagination-bullet {
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: #57b726;
}

.swiper-button-next,
.swiper-button-prev {
    opacity: 0.7;
    color: #749775; /*! Buradaki rengi gormuyor !*/
    transition: all 0.3s ease;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #749775; /*! Buradaki rengi gormuyor !*/
    opacity: 1;
}

/*============= CONTACT SECTION ============*/

.contact .container .content {
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--third-color);
}

.contact-list li {
    margin-bottom: 40px;
}

.contact-list li h3 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-list li h3 i {
    color: var(--second-color);
    font-size: 1.3em;
    margin-right: 10px;
}

.contact-list li span {
    color: var(--third-color);
    margin-left: 40px;
}

.contact-list li span a {
    color: var(--third-color);
}

.contact-right p span {
    color: var(--first-color);
    font-weight: 700;
}

.contact-form input,
.contact-form textarea {
    border: none;
    color: var(--first-color);
    background: var(--transparent-color-02);
    font-size: var(--normal-font-size);
    margin-bottom: 20px;
    padding: 15px 40px 40px 20px;
    border-radius: 5px;
}

.contact-form textarea {
    width: 100%;
    resize: none;
}

::placeholder {
    color: var(--first-color);
}

.contact-form .first-row input {
    width: 100%;
}

.contact-form .second-row {
    display: flex;
    justify-content: space-between;
}

.contact-form .second-row input {
    width: 48%;
}

.contact-form .btn {
    border: none;
    margin-top: 0;
    border-radius: 5px;
    cursor: pointer;
}

/*============= FOOTER ============*/

footer {
    padding: 2px;
    font-size: var(--normal-font-size);
    background: var(--second-color);
    font-weight: 500;
    color: #fff;
    text-align: center;
}

/*============= RESPONSIVE ============*/

/*============= media query max-width 1070px ============*/

@media screen and (max-width: 1070px) {
    /*============= header navigation menu ============*/

    .navigation {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--transparent-color-01);
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;
    }

    .navigation.active {
        visibility: visible;
        opacity: 1;
    }
    .nav-items {
        position: relative;
        background: var(--modal-bg-color);
        width: 600px;
        max-width: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px;
        padding: 40px;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        transform: translateY(-50px);
        transition: 0.3s ease;
    }

    .navigation.active .nav-items {
        transform: translateY(0);
    }

    .nav-items a {
        margin: 15px 50px;
    }

    .nav-close-btn {
        position: absolute;
        background: url(./assets/close.png) no-repeat;
        /* filter: var(--color-filter); */
        background-size: 12px;
        background-position: center;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        margin: 10px;
        cursor: pointer;
    }

    .nav-menu-btn {
        background: url(./assets/menu.png) no-repeat;
        /* filter: var(--color-filter); */
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: block;
    }
    /*============= home section ============*/
    .home .home-container .info {
        font-size: 0.85rem;
    }
    /*============= about section ============*/
    .about .container .content {
        display: grid;
        width: 100%;
        row-gap: 20px;
    }

    .about-img img {
        min-width: 0;
        width: 100%;
    }

    .about-info {
        min-width: 0;
        width: 100%;
    }

    /*============= get in touch ============*/

    .get-in-touch .contact-card {
        display: grid;
        width: 100px;
    }

    .contact-card .title {
        font-size: 0.8rem;
    }

    /*============= contact section ============*/

    .contact .content {
        flex-direction: column;
        font-size: 0.9rem;
    }

    .contact .contact-left {
        margin-bottom: 40px;
    }

    .contact-form .second-row input {
        width: 100%;
    }
    /*============= footer ============*/
    footer .footer-container {
        flex-direction: column;
    }

    .footer-container .about,
    .footer-container .info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .footer-container .info ul {
        margin: 5px 0;
    }

    .footer-container .hr {
        width: 100%;
        height: 2px;
        background: rgba(255, 255, 255, 0.1);
        margin: 10px 0 22px;
    }
}
/*============= media query max-width 730px ============*/

@media screen and (max-width: 730px) {
    /*============= common styles for all sections  ============*/
    body {
        margin: 5rem 0 0 0;
    }

    .section-title-01 {
        font-size: 3em;
    }

    .section-title-02 {
        font-size: 2em;
        transform: translateY(-65px);
    }

    .about-img {
        width: 70%;
    }

    /*============= home section ============*/
    .home .home-container {
        display: grid;
    }

    .home-container .home-img {
        position: absolute;
    }

    .home-container .home-img img {
        width: 65%;
        transform: translate(80px, -180px);
    }

    .home .home-container .info {
        font-size: 0.8rem;
    }

    .media-icons {
        margin-bottom: 80px;
    }
    /*============= get in touchsection ============*/
    .get-in-touch .contact-card {
        display: grid;
    }

    .contact-card .title {
        font-size: 0.6rem;
        line-height: 40px;
    }

    .contact-card .contact-btn .btn {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 400px) {
    .content {
    }
}
